.env
models.json
ocr_apis.json
*.pyc
__pycache__/
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.wmv
*.m4v
output/
output/*.md
output/*.txt
uploads/
audio_output/
temp_videos/
*.srt
requirements.txt
!requirements.txt
.DS_Store
venv/
env/
venv311/
venv311_intel_bak/
offline_packages/
*.code-workspace
